page-out-create {

    .invisibleButton {
        height:0px;
        width:60px;
    }

    .image{
        height: auto; 
        width: 30%; 
    }

    
    .Content{
        color: #202020;
    }
}
