page-out-create {

    .invisibleButton {
        height:0px;
        width:60px;
    }

    .image{
        height: 40%; 
        width: auto; 
        display: block; 
        margin: auto;
    }

    
    .Content{
        color: #202020;
    }
}
